{% extends 'shared/_MainLayout.html' %}
{% block content %}
    <!--Registration Form-->
    <section class=" p-5 ">
        <div class="container">
            <form class="row justify-content-center" method="post"> <!-- form -->
                {% csrf_token %}
                <div class="form-group col-lg-6  mt-5 mb-4 ">
                    <label for="{{ registerForm.first_name.id_for_label }}" class="text-light">{{ registerForm.first_name.label }}<i
                            class="fas fa-user mx-2"></i></label>
                    {{ registerForm.first_name }}
                    {% for error in registerForm.first_name.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-6 mt-5 mb-4 ">
                    <label for="{{ registerForm.last_name.id_for_label }}" class="text-light">{{ registerForm.last_name.label }}<i
                            class="fas fa-user mx-2"></i></label>
                    {{ registerForm.last_name }}
                    {% for error in registerForm.last_name.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-6 my-4">
                    <label for="{{ registerForm.user_name_code.id_for_label }}" class="text-light">{{ registerForm.user_name_code.label }}<i
                            class="fas fa-barcode mx-2 "></i></label>
                    {{ registerForm.user_name_code }}
                    {% for error in registerForm.user_name_code.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-6 my-4">
                    <label for="{{ registerForm.email.id_for_label }}" class="text-light">{{ registerForm.email.label }}<i
                            class="fas fa-envelope mx-2"></i></label>
                    {{ registerForm.email }}
                    {% for error in registerForm.email.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-6 my-4">
                    <label for="{{ registerForm.password.id_for_label }}" class="text-light">{{ registerForm.password.label }}<i
                            class="fas fa-lock mx-2"></i></label>
                    {{ registerForm.password }}
                    {% for error in registerForm.password.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-6 my-4">
                    <label for="{{ registerForm.re_password.id_for_label }}" class="text-light">{{ registerForm.re_password.label }}<i
                            class="fas fa-lock mx-2"></i></label>
                    {{ registerForm.re_password }}
                    {% for error in registerForm.re_password.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-block  btn-success mt-4">{{ register }}</button>
            </form> <!-- end form -->
        </div>
    </section>
    <!--End Of Registration Form-->
{% endblock %}