{% load static %}
<section id="s6" class="Contact  py-5 ">
    <div class="container-fluid ">
        <div class="row justify-content-center text-center py-5 my-5">
            <div class="col-lg-5">
                <h3 class="text-light mb-4">{{ contactus }}</h3>
                <form class="Contact-Form " method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ formContact.subject }}
                        {% for error in formContact.subject.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ formContact.email }}
                        {% for error in formContact.email.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ formContact.text }}
                    </div>
                    <button type="submit" class="btn btn-block btn-danger text-light">{{ send }}</button>
                </form>
            </div>
        </div>
    </div>
</section>